<form action="/signup" method="post">
  <label>Username: <input type="text" name="username"></label>
  <label>Email: <input type="text" name="email"></label>
  <label>Password: <input type="text" name="password"></label>
  <input type="submit" value="Submit">
</form>
