<form action="/login" method="post">
  <label>Username: <input type="text" name="username" id="username"></label>
  <label>Password: <input type="text" name="password" id="password"></label>
  <input type="submit" value="submit">
</form>
